{% load static %}
<!doctype html>
<html>
  <head>
    <title>Portfolio | Florindo Junior Fernandes</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body border-info" id="profile-wrapper"  >
                <img id="profile-pic" src="{% static 'images/florindo.jpg' %}" alt="profile">
                <hr>
                <h3>Hi, I am Florindo</h3>
                <p> I Love Coding </p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body border-info">
                <h4>My First Job</h4>
                <hr>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>

                <ul class="social-links">
                    <li><img class="social" src="{% static 'images/facebook.png' %}" alt="facebook"></li>
                    <li><img class="social" src="{% static 'images/linkedin.png' %}" alt="facebook"></li>
                    <li><img class="social" src="{% static 'images/youtube.png' %}" alt="facebook"></li>
                    <li><img class="social" src="{% static 'images/twitter.png' %}" alt="facebook"></li>

                </ul>               
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body text-center">
                <h4>My Experience</h4>
                <hr>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body text-center">
                <h4>What I Know</h4>
                <hr>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body text-center">
                <h4>How I Learn</h4>
                <hr>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body text-center">
                <h4>My Shorts Term Goal</h4>
                <hr>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
                <p>Exelénsia, bazeia ba assuntu iha leten no liu husi karta ida ne’e, ha’u ho haraik an hakarak husu ba Diretor do Colégio </p>
            </div>
        </div>
    </div>
    <br>
</div>
</body>
</html>